{% load static %}
{% include 'navbar.html' %}

<form action="" method="post">
  {% csrf_token %}

  {% if messages %}
    {% for message in messages %}
    <div class="container-fluid p-0">
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
    </div>
    {% endfor %}
  {% endif %}
  
  <strong>name</strong>
  <input name='name' type="text">
  <br>
  <strong>Email</strong>
  <input name='email' type="text">
  <br>
  <strong>Password</strong>
  <input name='password' type="text">

  <button type="submit">Register</button>
</form>